Repository tdg5/newrelic-python-agent-graphene-issue: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, removestar, safety-production-dependencies-check

.pre-commit-config.yaml:

exclude: 'docs|.git|.tox'
default_stages: [ commit ]
default_language_version:
  python: python3.9
fail_fast: false

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black
        args: [ "hello_full_stack" , "hello_full_stack_test" ]
        types: [ python ]
      - id: flake8
        name: flake8
        language: python
        entry: flake8
        args: [ "hello_full_stack" , "hello_full_stack_test" ]
        types: [ python ]
        additional_dependencies:
          - flake8-typing-imports
          - flake8-comprehensions
          - flake8-eradicate
          - flake8-spellcheck
          - dlint
          - darglint
          - mccabe
          - pep8-naming
      - id: mypy
        name: Mypy check
        entry: mypy
        language: system
        args: [ "hello_full_stack" , "hello_full_stack_test" ]
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        args: [ "hello_full_stack" , "hello_full_stack_test" ]
        language: system
      - id: removestar
        name: removestar
        language: system
        entry: removestar
        args: [ "i", "hello_full_stack" , "hello_full_stack_test" ]
        types: [python]
      - id: safety-production-dependencies-check
        name: Safety production dependencies check
        entry: safety
        args: [ check, --policy-file=.safety-policy.yml, --full-report, --file]
        language: system
        files: requirements.txt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        args: [ --markdown-linebreak-ext=md ]
      - id: end-of-file-fixer
        exclude: README.md|VERSION
      - id: check-docstring-first
      - id: debug-statements
      - id: name-tests-test
        args: [ '--pytest-test-first' ]
        exclude: factories.py
      - id: requirements-txt-fixer
      - id: check-yaml
        exclude: deployments/clusters/base/manifest.yaml
      - id: check-toml
      - id: check-json
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-ast
      - id: check-symlinks

#      - id: safety-development-dependencies-check
#        name: Safety development dependencies check
#        entry: safety
#        args: [ check, --full-report, --file]
#        language: system
#        files: requirements/development.txt

Upgrade nm-toolkit to v2.0.0
  .safety-policy.yml
  requirements.txt
  setup.py
Due: black, flake8, removestar, safety-production-dependencies-check

[skip actions] Update base deployment image references
  deployments/clusters/base/kustomization.yaml
Due: none

[skip actions] Increment version for next development cycle.
  VERSION
Due: none

Add explicit resource requests to kubernetes manifest
  deployments/clusters/base/manifest.yaml
Due: none

Add CODEOWNERS file
  CODEOWNERS
Due: none

Upgrade FastAPI
  .safety-policy.yml
  requirements.txt
  setup.py
Due: black, flake8, removestar, safety-production-dependencies-check

Add pull request templates (#6)
  .github/bugfix_pr_template.md
  .github/feature_pr_template.md
Due: none

Upgrade fastapi to 0.95.0
  requirements.txt
  setup.py
Due: black, flake8, removestar, safety-production-dependencies-check

Add new relic license key to griffin deployment
  .sops.yaml
  deployments/clusters/griffin/ksops-secret-generator.yaml
  deployments/clusters/griffin/kustomization.yaml
  deployments/clusters/griffin/patch-add-env-configs-to-api-deployment.yaml
  deployments/clusters/griffin/secret-hello-full-stack-new-relic-license-key.yaml
Due: none

Add newrelic
  .safety-policy.yml
  Dockerfile
  hello_full_stack/app/initializers/__init__.py
  hello_full_stack/app/initializers/newrelic_initializer.py
  newrelic.ini
  requirements.txt
  setup.py
  whitelist.txt
Due: black, flake8, removestar, safety-production-dependencies-check

Add inefficient fibonacci test
  backend/app/graphql/query.py
Due: black, flake8, removestar

Run app on port 9000
  Dockerfile
  README.md
  backend/Dockerfile
  backend/main.py
  docker-compose.override.yml
  docker-compose.yml
Due: black, flake8, removestar

Simplify app composition to reduce variables
  backend/app/factory.py
Due: black, flake8, removestar

Better reproduce problem with lots of things
  backend/app/graphql/query.py
Due: black, flake8, removestar

Use synchronous resolvers to exacerbate issue
  backend/app/graphql/query.py
Due: black, flake8, removestar

Add example graphql query
  query.json
Due: none

Add defaults to env-template
  env-template
Due: none

Update README with some basic instructions
  README.md
Due: none

Flatten and remove starlette-graphene3
  .pre-commit-config.yaml
  backend/app/factory.py
  backend/app/graphql/__init__.py
  backend/app/graphql/query.py
  backend/app/graphql/schema.py
  backend/main.py
  backend/pyproject.toml
  whitelist.txt
Due: black, flake8, removestar

Further simplify by removing fastapi and running from CLI
  Dockerfile
  README.md
  backend/Dockerfile
  benchmark.sh
  docker-compose.yml
  env-template
  main.py
  newrelic.ini
  poetry.lock
  pyproject.toml
  query.json
Due: black, flake8, removestar

Further simplify by removing fastapi and running from CLI
  Dockerfile
  README.md
  backend/Dockerfile
  benchmark.sh
  docker-compose.yml
  env-template
  main.py
  newrelic.ini
  pyproject.toml
  query.json
Due: black, flake8, removestar

Rework to include yappi and reproduce issue with github workflow
  .github/dependabot.yml
  .github/workflows/pre-commit.yaml
  .github/workflows/reproduction.yml
  .github/workflows/test.yaml
  Dockerfile
  benchmark.sh
  main.py
  pyproject.toml
Due: black, flake8, removestar

Rename to newrelic-python-agent-graphql-issue
  README.md
Due: none

Replace poetry with simple requirements.txt
  Dockerfile
  pyproject.toml
  requirements.txt
Due: safety-production-dependencies-check

Remove extraneous files
  .dockerignore
  .idea/.gitignore
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/sample-project.iml
  .idea/vcs.xml
  .isort.cfg
  .pre-commit-config.yaml
  whitelist.txt
Due: none
