Repository tdg5/newrelic-python-agent-graphene-issue: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, removestar, safety-production-dependencies-check

black:
  name: black
  language: system
  entry: black
  args:
  - hello_full_stack
  - hello_full_stack_test

flake8:
  name: flake8
  language: python
  entry: flake8
  args:
  - hello_full_stack
  - hello_full_stack_test
  additional_dependencies:
  - flake8-typing-imports
  - flake8-comprehensions
  - flake8-eradicate
  - flake8-spellcheck
  - dlint
  - darglint
  - mccabe
  - pep8-naming

removestar:
  name: removestar
  language: system
  entry: removestar
  args:
  - i
  - hello_full_stack
  - hello_full_stack_test

safety-production-dependencies-check:
  name: Safety production dependencies check
  entry: safety
  args:
  - check
  - --policy-file=.safety-policy.yml
  - --full-report
  - --file
  language: system

[skip actions] Update base deployment image references
  deployments/clusters/base/kustomization.yaml
Due: none

[skip actions] Increment version for next development cycle.
  VERSION
Due: none

Rename app_router to health_check_router
  deployments/clusters/base/manifest.yaml
  hello_full_stack/api/__init__.py
  hello_full_stack/api/app_router.py
  hello_full_stack/api/health_check_router.py
  whitelist.txt
Due: black, flake8, removestar

Give API service more specific name
  deployments/clusters/base/manifest.yaml
Due: none

[skip actions] Update code coverage metrics
  .meta/coverage_badge.svg
Due: none

Fix name that wasn't updated to hello-full-stack-api
  deployments/clusters/base/manifest.yaml
Due: none

Fix patch resource reference
  deployments/clusters/griffin/patch-add-env-configs-to-api-deployment.yaml
Due: none

Use black's experimental string processing
  .pre-commit-config.yaml
  hello_full_stack/app/initializers/api_initializer.py
  setup.py
Due: black, flake8, removestar

Add initializer for logger
  hello_full_stack/app/config/config.py
  hello_full_stack/app/initializers/__init__.py
  hello_full_stack/app/initializers/logger_initializer.py
  hello_full_stack_test/app/config/config_test.py
  requirements.txt
  setup.py
Due: black, flake8, removestar, safety-production-dependencies-check

Fix and upgrade some requirements
  requirements.txt
  setup.py
Due: black, flake8, removestar, safety-production-dependencies-check

Rename some things to remove conf from whitelist
  hello_full_stack/entry_points/api/hypercorn_config.py
  hello_full_stack/entry_points/api/webserver.py
  whitelist.txt
Due: black, flake8, removestar

Clean up some formatting
  pyproject.toml
Due: none

Install dependencies from requirements.txt in CICD
  .github/workflows/docker-build-and-push.yml
  .github/workflows/quality-check.yaml
Due: none

Rename github workflow to make intentions clearer
  .github/workflows/main-docker-build-and-push.yml
  .github/workflows/non-main-quality-check.yaml
Due: none

Allow workflow dispatch of github workflows
  .github/workflows/main-docker-build-and-push.yml
  .github/workflows/non-main-quality-check.yaml
Due: none

Fix invalid project/version requirement specifier
  setup.py
Due: black, flake8, removestar

Check deployment yaml as part of pre-commit
  .pre-commit-config.yaml
Due: none

Clean up formatting of pre-commit
  .pre-commit-config.yaml
Due: none

Make installation of kustomize more robust
  .github/workflows/main-docker-build-and-push.yml
Due: none

Path conditions:
  black: any of: \.py$, but not: docs|.git|.tox
  flake8: any of: \.py$, but not: docs|.git|.tox
  removestar: any of: \.py$, but not: docs|.git|.tox
  safety-production-dependencies-check: any of: requirements.txt, but not: docs|.git|.tox
